flows.json
[{"id":"b2aef9b2.cd7188","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"91ec30c3.8520b","type":"ui_form","z":"b2aef9b2.cd7188","name":"","label":"","group":"c876a5.38532958","order":1,"width":0,"height":0,"options":[{"label":"Income composition of resources","value":"a","type":"number","required":true,"rows":null},{"label":"thinness  1-19 years","value":"b","type":"number","required":true,"rows":null},{"label":"percentage expenditure","value":"c","type":"number","required":true,"rows":null},{"label":"Year","value":"d","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":460,"wires":[["da678251.ff6df"]]},{"id":"44616e00.a37f54","type":"ui_text","z":"b2aef9b2.cd7188","group":"c876a5.38532958","order":2,"width":0,"height":0,"name":"","label":"Life Expectancy","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":60,"wires":[]},{"id":"c146fd90.34d2a","type":"inject","z":"b2aef9b2.cd7188","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":340,"wires":[["da678251.ff6df"]]},{"id":"da678251.ff6df","type":"function","z":"b2aef9b2.cd7188","name":"Pre Token","func":"//make user given values as global variables........\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\n\n//following are requested to receive a token........\nvar apikey=\"ICSXtq-rNwd5BjvsWHTOfTEpdKYlGfU8kQVOkucTsMO4\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\n\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":400,"wires":[["e59aa8d2.d3c738"]]},{"id":"b6b906be.6f7f38","type":"function","z":"b2aef9b2.cd7188","name":"Pre Prediction","func":"//get token and make headers.......\nvar token=msg.payload.access_token;\nvar instance_id=\"2b553fd6-e7e0-42ae-a1a0-848208e00ca3\";\nmsg.headers={'Content-Type':'application/json',\"Authorization\":\"Bearer\"+token,\"ML-Instance-ID\":instance_id};\n\n//get variables that are set earlier.....\nvar a=global.get(\"a\");\nvar b=global.get(\"b\");\nvar c=global.get(\"c\");\nvar d=global.get(\"d\");\n\n//send the user values to service endpoint.....\nmsg.payload={\"fields\":[\"Income composition of resources\",\"thinness  1-19 years\",\"percentage expenditure\",\"Year\"],\"values\":[[a,b,c,d]]};\n\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":260,"wires":[["6f1a0810.cf1b58"]]},{"id":"b8b39366.a08ba","type":"function","z":"b2aef9b2.cd7188","name":"Prediction","func":"//predicted location\nmsg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":120,"wires":[["b10f2092.d5037","44616e00.a37f54"]]},{"id":"b10f2092.d5037","type":"debug","z":"b2aef9b2.cd7188","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":120,"wires":[]},{"id":"e59aa8d2.d3c738","type":"http request","z":"b2aef9b2.cd7188","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":320,"wires":[["b6b906be.6f7f38"]]},{"id":"6f1a0810.cf1b58","type":"http request","z":"b2aef9b2.cd7188","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2b553fd6-e7e0-42ae-a1a0-848208e00ca3/deployments/b6ba0b29-a298-46c8-82ec-c6e8f6068f9a/online","tls":"","persist":false,"proxy":"","authType":"","x":770,"y":200,"wires":[["b8b39366.a08ba"]]},{"id":"c876a5.38532958","type":"ui_group","z":"","name":"LE Prediction","tab":"65102720.a699a8","order":1,"disp":true,"width":"6","collapse":false},{"id":"65102720.a699a8","type":"ui_tab","z":"","name":"ML_FINAL","icon":"dashboard","order":5,"disabled":false,"hidden":false}]